#diy {
    color: blue;
}
#hayami {
    color: hsl(30, 100%, 50%);
}

#input {
    color: #ff0080;
}

#comment {
    color: #000000;
}

#Output {
    color: #ff000d;
}

.warning {
    color: deeppink;
}

#form {
    width: 100px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: auto;
}

#button {
    width: 100px;
    height: 30px;
    background-color: rgb(255, 242, 0);
    color: rgb(0, 0, 0);
    margin: auto;
}

p {
    color: rgb(248, 5, 5);
}
