#diy {
    color: blue;
}
#hayami {
    color: hsl(30, 100%, 50%);
}

#input {
    color: #ff0080;
    font-size:x-large;
}

#comment {
    color: #000000;
    font-size:small;
}

#output {
    color: #ff000d;
    font-size:x-large;
}

#line {
    color: #027b20;
}

.warning {
    color: deeppink;
}

#form {
    width: 100px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: auto;
}

#button {
    width: 200px;
    height: 60px;
    background-color: rgb(255, 242, 0);
    color: rgb(0, 0, 0);
    font-size:x-large;
    margin: 20px auto 20px 400px;
}


p {
    color: rgb(248, 5, 5);
}

